@font-face {
    font-family: "MaShanZheng-Regular";
    src: url("/fonts/MaShanZheng-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "NeverMindHand-Regular";
    src: url("/fonts/NeverMindHand-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "LXGWWenKaiScreen";
    src: url("/fonts/LXGWWenKaiScreen.ttf") format("truetype");
}

@font-face {
    font-family: "AlibabaPuHuiTi-3-65-Medium";
    src: url("/fonts/AlibabaPuHuiTi-3-65-Medium.ttf") format("truetype");
}